<template name="login">

  <form method="post" id="sign-in-form" class="form-inline pull-right">

    <div>
      {{#if currentUser}}
        <input type="email" class="input-medium" placeholder="Email" required disabled>
        <input type="password" class="input-medium" placeholder="Password" required disabled>
        <input type="submit" class="btn" value="Log In" disabled>
      {{else}}
        <input type="email" class="input-medium" id="sign-in-email" placeholder="Email" required>
        <input type="password" class="input-medium" id="sign-in-password" placeholder="Password" required>
        <input type="submit" class="btn" id="sign-in" value="Log In">
      {{/if}}
    </div>

    <div><small>
      {{#if currentUser}}
        You are logged in as <b>{{currentUser.emails.0.address}}</b>. Not you? <a href="#" id="sign-out">Sign out</a>.
      {{else}}
        {{#if loginFailed}}
          Login failed. <a href="#" id="forgot-password">Reset your password</a> or <a href="#" class="sign-up">sign up</a>.
        {{else}}
          Not a user? <a href="#" class="sign-up">Sign up</a>.
        {{/if}}
      {{/if}}
    </small></div>

  </form>

</template>